<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TFS_Backup_Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TFS_Backup_Utility.Properties.Settings>
            <setting name="TFS_Server" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LastDailyBackup" serializeAs="String">
                <value>2013-04-23</value>
            </setting>
            <setting name="PerformDailyBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastBackup" serializeAs="String">
                <value>2013-04-23</value>
            </setting>
        </TFS_Backup_Utility.Properties.Settings>
    </userSettings>
</configuration>